footer 
    +gradient(0deg,$laranja-claro, transparent)
    padding: 12px
    .logo-rodape
            display: block
            margin: 15px auto
            font-size: 50px
            width: 30px
            color: $azul-marinho
    p
        text-align: center
        font-size: 20px
