header
    +clearfix
    min-height: 700px
    background: 
        image: url('../images/slide-tag-homem-com-violao.jpg')
        position: top center
        repeat: no-repeat
        attachment: fixed 
        size: cover
    .links
        display: table
        margin: 20px auto
        nav,
        .social
            display: inline-block
            ul 
                li
                    display: inline-block
                    margin: 0 20px 0 0
                    padding: 10px
                    a 
                        color: $branco
                        text-transform: uppercase
                        
        .social
            color: $branco
            li
                display: inline-block
                a 
                    color: $branco
    h1
        margin: 200px auto 30px auto !important
        color: $branco
        font-size: 60px !important
        border: 5px solid $branco
        padding: 20px
        display: table
    p 
        color: $branco
        font-size: 30px
    h1,
    p
        text-align: center